<div class="container">
  <div class="row">

    <% if logged_in? %>

    <aside class="col s12 m4">
      <br>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

      <br>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <br>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="col s12 m8">
      <h4>Micropost Feed</h4>
      <%= render 'shared/feed' %>
    </div>

    <% else %>

      <div class="col s12 m7">
        <h2>Welcome to <span style="font-family: 'Galada', cursive;" class="teal-text text-base">dapp</span></h2>
        <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>

        <br><br><br>

        <h3><span style="font-family: 'Galada', cursive;" class="teal-text text-base">dapp</span> is also available on Android!</h3>

        <br>
        <div class="center-align">
          <%= image_tag(image_path("screenshot.png"), alt: "Android screenshot") %>
        </div>
        <br>

        <p>Compatible with android versions 4.0.3(IceCreamSandwich) and up.</p>

        <div class="valign-wrapper">
          <%= link_to "Download the apk installer* here : ", download_apk_path %>
          <%= link_to image_tag("ic_launcher.png", alt: "Rails logo"),download_apk_path %>
          <%= link_to "or here via google drive (faster download)", "https://drive.google.com/open?id=0B08eIl8JUS3sSmY3UjU4QVR5bDA", target: :_blank %>
        </div>

        <p>*Installation of this apk requires that the "Unknown sources" setting in your android device is enabled. Information on how to do configure this setting can be found <%= link_to "here", "https://android.gadgethacks.com/how-to/android-basics-enable-unknown-sources-sideload-apps-0161947/", target: :_blank %>.</p>
      </div>

      <div class="col s12 m5">
          <br><br>
          <div class="center-align">
            <%= link_to 'Sign up', signup_path, class: "btn" %>
          <div>

      </div>

    <% end %>
  </div>
</div>
