<div class="container">
  <div class="row">

    <% if logged_in? %>

    <aside class="col s12 m4">
      <br>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

      <br>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <br>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="col s12 m8">
      <h4>Micropost Feed</h4>
      <%= render 'shared/feed' %>
    </div>

    <% else %>

      <div class="col s12 m7">
        <h2>Welcome to <span style="font-family: 'Galada', cursive;" class="teal-text text-base">dapp</span></h2>
        <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
      </div>

      <div class="col s12 m5">
          <br><br>
          <div class="center-align">
            <%= link_to 'Sign up', signup_path, class: "btn" %>
          <div>

      </div>

    <% end %>
  </div>
</div>
