<div class="container">
  <div class="row">
    <h4>Users</h4>

    <%= will_paginate %>

    <ul class="users">
      <% @users.each do |user| %>
        <li>
          <%= gravatar_for user, size: 50 %>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    </ul>

    <%= will_paginate %>
    <br>

    <%= link_to 'New User', new_user_path %>

  </div>
</div>
