<div class="container">
  <div class="row">
    <aside class="col s12 m4">
      <section>
        <br>
        <%= gravatar_for(@user, size: 100) %>
        <h4>
          <%= @user.name %>
        </h4>
      </section>
      <section class="stats">

      </section>
    </aside>
    <div class="col s12 m8">
      <% if @user.microposts.any? %>
      <h4>Microposts (<%= @user.microposts.count %>)</h4>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
      <% end %>
    </div>
  </div>
</div>
